[Unit]

Description = aaa daemon


[Service]

ExecStart = /home/dev/service_utils/command_examples/run_aaa.sh

Restart = always

Type = simple


[Install]

WantedBy = multi-user.target

