[Unit]
Description=ROSCORE launcher

[Service]
ExecStart=/usr/bin/screen -S roscore -ADm bash -l -c 'roscore'
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target
