[Unit]
Description = hello daemon

[Service]
ExecStart = /home/dev/service_utils/command_exmpales/run_roscore.sh
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
